@import "components/navbar.css";
@import "components/server-customize.css";
@import "components/slider-handle.css";
@import "components/package.css";
body {
    font-family: 'Prompt', sans-serif;
    background-color: #fff;
    color: #fff
}

.header-section {
    color: #1cbcff;
    font-weight: lighter;
    text-transform: uppercase;
}

span.header-section-sub {
    color: #fff;
}

hr {
    border-color: #333
}

.pt-100 {
    padding-top: 100px;
}

section {
    text-align: center
}

section p {
    font-weight: lighter;
    font-size: 14px;
}

#customize {
    background: url('/images/bg-spidy.png')#333;
    background-repeat: no-repeat;
}

#package {
    background: url('/images/bg-spidy2.png')#333;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.bg-theme {
    background-color: #1cbcff;
}

.color-theme {
    color: #1cbcff;
}

.f-12 {
    font-size: 12px;
}

.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.f-18 {
    font-size: 18px;
}

.f-20 {
    font-size: 20px;
}