.device-md {
    display: none
}

/**
 * Customize bxSlider
 */

.bx-wrapper {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: initial;
}

.bx-wrapper .bx-pager {
    padding-bottom: 45px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    width: 14px;
    height: 14px;
    border-radius: 7px
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #1cbcff
}

/**
 * 
 * Card
 */

.package-list .card {
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    width: 100% !important;
    height: 500px;
}

.package-list .card-header {
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff
}

.package-list .card-header h2 {
    margin-bottom: 0;
}

.package-list .card-body.secondary {
    border-top: 1px solid #ddd
}

.package-list .card-body.secondary ul li {
    list-style: none;
}

.btn-package {
    width: 80%;
    background-color: #1cbcff;
    border-color: #1cbcff
}

@media (min-width: 576px) {
    .package-list .card {
        position: relative !important;
        height: auto;
    }
}

/* Medium devices (tablet, 768px and up) */

@media screen and (min-width: 768px) {
    .btn-package {
        width: 100%;
    }
    .package-list .card {
        margin-left: 0;
    }
    .device-md {
        display: block;
    }
    .device-sm {
        display: none;
    }
}

/* Large devices (desktop, 1024px and up) */

@media screen and (min-width: 1024px) {
    .h-package {
        text-align: left
    }
    .package-list .card:first-child {
        margin-left: 100px;
    }
    .package-list .card:last-child {
        margin-right: 100px;
    }
    .package-list .card {
        margin-left: 15px;
    }
}