section h6 {
    text-align: left
}

.dtc-slider,
.os-slider {
    overflow: auto;
    white-space: nowrap;
}

.oslist {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    cursor: pointer;
}

.datacenter:last-child,
.oslist:last-child {
    margin-right: 0;
}

.oslist .card {
    width: 160px;
    height: 200px;
    background-color: transparent;
    box-shadow: none;
    border: 2px solid #959595;
    border-radius: 10px;
    transition: all .1s ease-in;
}

.oslist .card-head {
    height: 160px;
}

.oslist .card-body {
    border-top: 2px solid #959595;
    padding: 0;
    transition: all .1s ease-in
}

.oslist .card p {
    transition: all .1s ease-in
}

.os-img {
    margin: 0 auto;
    padding: 20px 0;
    filter: grayscale(1);
    transition: all .1s ease-in
}

/**
 * Card Active
 */

.oslist .active p.title {
    color: #1cbcff;
    font-weight: normal;
    transition: all .1s ease-in
}

.oslist .active .os-img {
    filter: grayscale(0)
}

.datacenter .active,
.oslist .active {
    border: 2px solid #1cbcff;
    transition: all .1s ease-in
}

.oslist .active .card-body {
    border-top: 2px solid #1cbcff;
    transition: all .1s ease-in
}

/**
 * .form-control card
 */

.oslist .card .form-control,
.oslist .card .form-control:focus {
    background-color: transparent;
    border: none;
    color: #999;
    margin-bottom: 0;
}

.datacenter .active,
.oslist .active .form-control {
    color: #1cbcff
}

/**
 * Datacenter
 */

.dtc-list {
    border: 2px solid #999;
    border-radius: 10px;
    padding: 10px;
}

.datacenter {
    width: 46.66666%;
    display: inline-block;
    list-style: none;
    cursor: pointer;
    margin-right: 10px;
}

.dtc-text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
}

/**
 * Request OS
 */

.req-os-text {
    color: #1cbcff
}

/* Medium devices (tablet, 768px and up) */

@media screen and (min-width: 768px) {
    .datacenter {
        width: 30%;
    }
}

/* Large devices (desktop, 1024px and up) */

@media screen and (min-width: 1024px) {
    .dtc-slider,
    .os-slider {
        overflow: hidden;
    }
    .datacenter {
        width: 23.8888%;
    }
    .oslist .card {
        width: 214px;
    }
    .oslist {
        margin-right: 4px;
    }
}